.lightTheme {
    background-color: gainsboro;
    color:gray;
}

.darkTheme {
    color: rgb(222, 217, 217);
    background-color: rgb(72, 72, 75);
}

nav{
    width: 100vw;
    padding: 2rem;
    text-align: center;
    z-index: 900;
    position: absolute;
    top: 0;
    background-color: gray;
    color: darkgrey;
}